src/main/mule/wordldemoapideploy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e246c6a8-fc31-4fcf-8d9d-506344018a21" basePath="/timezone">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="93d298cc-e3ff-4b6b-859c-dce69bf011a3" basePath="/api/timezone/" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="wordldemoapideployFlow" doc:id="6a3b0e7b-0557-47b9-9339-3b5290fd4085" >
		<http:listener doc:name="Listener" doc:id="c255f410-74bd-4219-be21-c00ce8ae55ab" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="d6126d12-294c-4b42-83e0-fb1fafafc410" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
